SUPABASE_PROJECT_ID="jreizhdtjskwslrmphnq"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_gpZw-3R3EW_Rd-XeKreUkw_sdSf75pT"
SUPABASE_URL="https://jreizhdtjskwslrmphnq.supabase.co"
VITE_SUPABASE_PROJECT_ID="jreizhdtjskwslrmphnq"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_gpZw-3R3EW_Rd-XeKreUkw_sdSf75pT"
VITE_SUPABASE_URL="https://jreizhdtjskwslrmphnq.supabase.co"
